/*********************************
Faux Pizza Style Sheet
*********************************/
a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}


/*********************************
GENERAL
*********************************/



/*********************************
HEADING
*********************************/

.page-header {
	text-align: center;
	margin: 0;
	background: orange;
}


/*********************************
NAVIGATION
*********************************/



/*********************************
FOOTER
*********************************/



/*********************************
PAGE: 
*********************************/



/*********************************
COLORS
*********************************/

