/*********************************
Faux Pizza Style Sheet
*********************************/
a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

img {
	max-width: 100%;
}


/*********************************
GENERAL
*********************************/


body {
	background-color: #fff;
}



/*********************************
HEADING
*********************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

h1, h2 {
	color: #fff;
	font-size: 82px;
}

.page-header {
	text-align: center;
	margin: 0;
	background: none;
	border-bottom: 0;
}

header {
	background: white;
	border-color: white;
}

h1 {
	font-family: 'Shadows Into Light Two', cursive;
	color: #00004B;
}

nav li {
	text-align: center;
	background-color: #00004B;
}

.nav-pills>li+li {
	margin-left: 1;
}


/*********************************
NAVIGATION
*********************************/
nav {

	font-family: 'Roboto', sans-serif;
}

nav a.selected {
	color: #CDCDCD;
}


/*********************************
FOOTER
*********************************/

p {
	color: #3E5C5F;
	font-family: 'Roboto', serif;
}

img {
	float: center;
}


/*********************************
MENU PAGE
*********************************/

#menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #CDCDCD;
	color: black;
}

#menu li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	font-family: 'Roboto', serif;
	text-align: center;
	color: 00004B;
	font-weight: 700;
}
/*********************************
CONTACT PAGE
*********************************/

/*********************************
HOME PAGE
*********************************/

.photo {
	height: 858px;
	width: 1280px;
	background-color: grey;
	background-image: url("../img/pizza-photo.jpg");
}


/*********************************
COLORS
*********************************/

nav a, nav a:visited {
	color: #fff;
}

nav a.selected:hover {
	color: slateblue;
}


