/*********************************
Faux Pizza Style Sheet
*********************************/
a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

img {
	max-width: 100%;
}


/*********************************
GENERAL
*********************************/


body {
	background-color: #fff;
}



/*********************************
HEADING
*********************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

h1 {
	color: #fff;
	font-size: 82px;
}

h2 {
	color: #000;
	font-size: 24px;
}

.page-header {
	text-align: center;
	margin: 0;
	background: none;
	border-bottom: 0;
}

header {
	background: white;
	border-color: white;
}

h1 {
	font-family: 'Shadows Into Light Two', cursive;
	color: #00004B;
}

nav li {
	text-align: center;
	background-color: #00004B;
}

.nav-pills>li+li {
	margin-left: 1;
}


/*********************************
NAVIGATION
*********************************/
nav {

	font-family: 'Roboto', sans-serif;
}

nav a.selected {
	color: #CDCDCD;
}


/*********************************
FOOTER
*********************************/


footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #3E5C5F;
	font-family: 'Roboto', serif;
}


.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}


/*********************************
MENU PAGE
*********************************/

#menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #CDCDCD;
	color: black;
}

#menu li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	font-family: 'Roboto', serif;
	text-align: center;
	color: 00004B;
	font-weight: 700;
}
/*********************************
CONTACT PAGE
*********************************/

/*********************************
HOME PAGE
*********************************/

/*html { 
  background: url(../img/pizza-photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


.photo {
	height: 858px;
	width: 1280px;
	background-color: grey;
	background-image: url("../img/pizza-photo.jpg");
}

/*********************************
ORDER PAGE
*********************************/


/*********************************
COLORS
*********************************/

nav a, nav a:visited {
	color: #fff;
}

nav a.selected:hover {
	color: slateblue;
}


