/*********************************
Faux Pizza Style Sheet
*********************************/

h1 {
	margin: 0 0 0 1em;
}

h2 {
	margin: 1em 0 0 0em;
}


.container {
	color: blue;
	margin: 0 0 0 1em;
}



/*********************************
GENERAL
*********************************/



/*********************************
HEADING
*********************************/



/*********************************
NAVIGATION
*********************************/



/*********************************
FOOTER
*********************************/



/*********************************
PAGE: 
*********************************/



/*********************************
COLORS
*********************************/

h1 {
	background-color: none;
}
